@model Sesamit17.Models.EmailFormModel
@{ 
    ViewData["Title"] = "Bryggan";
}
    <!--Banner-->
<section class="hero is-dark is-large">
    <div class="hero-body" id="bryggan-banner">
        <div class="has-text-centered" id="bryggan-logo">
            <img src="~/images/bryggan/logga.png" />
        </div>
    </div>
</section>
<!-- end banner -->
<!-- välkommen till bryggan -->
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <div class="content">
                    <p class="title is-1">Välkommen till Bryggan!</p>
                    <p class="subtitle"> - Örebros enda riktiga studentpub</p>
                    Bryggan är studentpuben på Örebro Universitets campus där alla studenter kan ha en trevlig stund, dricka och äta billigt.
                    Belägen på Studentgatan 2 mitt emot Bågen och ett stenkast från Pressbyrån och Kårhuset.
                    <br>
                    <br> Bildades redan 1996 och har efter det växt mer och mer för varje år. Den ägs av studentsektionen
                    Sesam på Örebro Universitet och samarbetar även med andra studentsektioner såväl som
                    Örebro Studentkår och Kårhuset.
                    <br>
                    <br> Driven av studenter för studenter finns Bryggan öppen för den som är törstig och/eller
                    hungrig.
                    <br />
                    <br />
                    <div class="has-text-centered">
                        <a class="button is-link is-outlined" href="#bryggan-meny">
                            <span class="icon">
                                <i class="fa fa-arrow-down "></i>
                            </span>
                            <span>Kolla in vår meny!</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                    <article class="message is-dark">
                        <div class="message-header">
                            <p>Öppettider</p>
                        </div>
                        <div class="message-body">
                            <p>
                                <strong>Onsdagar:</strong> 17.00 - 23.00
                            </p>
                            <p>
                                <strong>Fredagar:</strong> 19.00-01.00
                            </p>
                            <br />
                            <div class="has-text-centered">
                                <i class="fa fa-info fa-3x"></i>
                                <p><strong>VI TAR ENDAST KORT!</strong></p>
                            </div>
                        </div>
                    </article>
            </div>
        </div>
    </div>
</section>
<!-- end välkommen bryggan -->
<section class="hero is-primary is-small">
    <div class="hero-body" id="bryggan-boka">
        <div class="container">
            <p class="title is-1 has-text-weight-normal has-text-centered">BOKA BRYGGAN</p>
            <div class="columns">
                <div class="column">
                    <div>
                        <br />
                        <p class="subtitle is-mobile has-text-weight-normal">
                            För endast <strong>500kr</strong> blir bryggan din för kvällen!
                        </p>
                        <br />
                        <p class="subtitle has-text-weight-light">Ska du gå på kåren och behöver något större än studentlägenheten? 
                        Fyller din kompis år och du vill kunna dricka och käka men slippa att städa och diska? Eller vill du kunna festa loss mitt i 
                        veckan utan att störa grannarna?
                        <br />Då är bryggan ett perfekt alternativ för dig och ditt sällskap!
                        <br />Vi på Bryggan lovar att bistå er fest med god mat, dryck, musik och service!
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="has-text-centered">
                        <img src="~/images/styrelse/ELINm.textJAA-13.jpg" class="img-rounded-corners" />
                        <br />
                        Är du sugen på att boka? Hör då av dig till vår bryggmästare <strong>Elin Hålldin</strong> via antingen
                        <br />
                        <strong><a>klubbmasteriet@sesamit.se</a></strong>, <a>076-308 09 96</a> eller fyll i formuläret nedanför!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Boka eller provjobba -->
<section class="hero is-small">
    <div class="hero-body" id="">
        <div class="container">
            <div class="column">
                <p class="title is-1 has-text-weight-normal has-text-centered has-no-wrap">PROVJOBBA</p>
                <br />
                <p class="subtitle is-mobile has-text-weight-normal">
                    Visste du att det finns massvis med härliga fördelar med att jobba på Bryggan?
                    <br />
                    Jobbar du endast <strong>ett pass per månad</strong> får
                    du följande: 
                    </p>
                <p class="subtitle has-text-weight-normal">
                    <br />
                    - Personalkort på strömpis (gäller varje onsdag)
                    <br />
                    <br />
                    - Personalkort på Kåren (i appen) som innebär följande: gratis kaffe under caféöppettiderna, köföreträde för dig + 1 på TimeBeer, gratis inträde
                    och köföreträde för dig själv +5 på nattklubb, rabatterad mat på TimeBeer.
                    <br />
                    <br />
                    - Fribiljetter (begränsat antal) till Strömpis och Satin på fredagar/lördagar
                    <br />
                    <br />
                    - Personalpriser på mat och dryck på Bryggan
                    <br />
                    <br />
                    - Möjlighet att gå på kick-off och personalfester
                    <br />
                    <br />
                    - Gratis mat och dryck (alkoholfri) på det pass du jobbar
                    <br />
                    <br />
                    - Chansen att gå på event och dylikt som är inom branschen restaurang och bar
                    <br />
                    <br />
                </p>

                    <p class="subtitle">Passen vi erbjuder är <strong>onsdagar 16.30-23.30</strong> och <strong>fredagar 18.30-01.30</strong>. 
                        Ytterligare pass kan dyka upp vid eventuell bokning.
                    </p>
                <p class="title is-4 has-text-weight-normal">
                    <br />
                    Är du också sugen på att ta del av dessa fantastiska förmåner och samtidigt träffa lite sköna människor? Kontakta då vår klubbmästare
                    <strong>Elin Hålldin</strong> via antingen
                    <strong>
                        <a>klubbmasteriet@sesamit.se</a>
                    </strong>, telefon:
                    <a>076-308 09 96</a> eller snacka med oss bakom baren helt enkelt!
                </p>
            </div>
        </div>
    </div>
</section>
<!-- end boka eller provjobba -->
<!-- KONTAKT -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="section notification" id="bryggan-boka">
        <div class="container">
            <div class="column is-8  is-offset-2">
                <p class="title is-3 has-text-weight-light has-text-centered has-text-white">Hör gärna av dig om du vill boka eller jobba!</p>
                    <div class="field">
                        @Html.LabelFor(m => m.FullName, new { @class = "label has-text-white" })
                        <div class="control has-icons-left">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "input", @placeholder = "Förnamn & Efternamn" })
                            @Html.ValidationMessageFor(m => m.FullName)
                            <span class="icon is-small is-left">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        @Html.LabelFor(m => m.Sender, new { @class = "label has-text-white" })
                        <div class="control has-icons-left has-icons-right">
                            @Html.TextBoxFor(m => m.Sender, new { @class = "input", @placeholder = "Email" })
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        @Html.LabelFor(m => m.Phone, new { @class = "label has-text-white"})
                        <div class="control has-icons-left">
                            @Html.TextBoxFor(m => m.Phone, new { @class= "input", @placeholder = "Telefonnummer"})
                            <span class="icon is-small is-left">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        @Html.LabelFor(m => m.Subject, new { @class = "label has-text-white" })
                        <div class="control has-icons-left">
                            @Html.TextBoxFor(m => m.Subject, new { @class = "input", @placeholder = "Ämne" })
                            <span class="icon is-small is-left">
                                <i class="fa fa-tag"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        @Html.LabelFor(m => m.Message, new { @class = "label has-text-white" })
                        <div class="control">
                            @Html.TextAreaFor(m => m.Message, new { @class = "input" })
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <input class="button is-white is-outlined" type="submit" value="Skicka meddelande" />
                        </div>
                    </div>
            </div>
        </div>
    </section>

}


<!-- MENY -->
<section class="section" id="bryggan-meny">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-beer fa-1x"></i>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table id="beer-table" class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    Öl
                                </th>
                                <th>
                                    Pris
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end table -->
            <div class="column">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-glass fa-1x"></i>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table id="vin-table" class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    Vin
                                </th>
                                <th>
                                    Pris
                                </th>
                            </tr>
                        </table>
                        <table id="cider-table" class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    Cider
                                </th>
                                <th>
                                    Pris
                                </th>
                            </tr>
                        </table>
                        <table id="sprit-table" class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    Sprit
                                </th>
                                <th>
                                    Pris
                                </th>
                            </tr>
                        </table>
                        <table id="lask-table" class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    Läsk
                                </th>
                                <th>
                                    Pris
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- end table -->
            </div>
            <div class="column">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-cutlery fa-1x"></i>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table id="mat-table" class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    Mat
                                </th>
                                <th>
                                    Pris
                                </th>
                            </tr>
                        </table>
                        <table id="ovrigt-table" class="table table-striped table-bordered">
                            <tr>
                                <th>
                                    Övrigt
                                </th>
                                <th>
                                    Pris
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- end table -->
            </div>
        </div>
        <!-- end columns -->
    </div>
    <!-- end container -->
</section>
    <!-- get menu script -->
<script type="text/javascript">
        $.getJSON("https://barappen.se:9310/api/v020/menu/1",
            function (data) {
                $.each(data.menu,
                    function () {
                        $.each(this,
                            function () {
                                if (this.category.name == "Öl") {
                                    $("#beer-table")
                                        .append("<tr> " +
                                        "<td>" +
                                        this.name +
                                        "</td>" +
                                        "<td>" +
                                        (-1 * this.cost) +
                                        " kr</td>" +
                                        "</tr>" +
                                        "");
                                };
                                if (this.category.name == "Vin") {
                                    $("#vin-table")
                                        .append("<tr> " +
                                        "<td>" +
                                        this.name +
                                        "</td>" +
                                        "<td>" +
                                        (-1 * this.cost) +
                                        " kr</td>" +
                                        "</tr>" +
                                        "");
                                }
                                if (this.category.name == "Cider") {
                                    $("#cider-table")
                                        .append("<tr> " +
                                        "<td>" +
                                        this.name +
                                        "</td>" +
                                        "<td>" +
                                        (-1 * this.cost) +
                                        " kr</td>" +
                                        "</tr>" +
                                        "");
                                }
                                if (this.category.name == "Sprit") {
                                    $("#sprit-table")
                                        .append("<tr> " +
                                        "<td>" +
                                        this.name +
                                        "</td>" +
                                        "<td>" +
                                        (-1 * this.cost) +
                                        " kr</td>" +
                                        "</tr>" +
                                        "");
                                }
                                if (this.category.name == "Mat") {
                                    $("#mat-table")
                                        .append("<tr> " +
                                        "<td>" +
                                        this.name +
                                        "</td>" +
                                        "<td>" +
                                        (-1 * this.cost) +
                                        " kr</td>" +
                                        "</tr>" +
                                        "");
                                }
                                if (this.category.name == "Övrigt") {
                                    $("#ovrigt-table")
                                        .append("<tr> " +
                                        "<td>" +
                                        this.name +
                                        "</td>" +
                                        "<td>" +
                                        (-1 * this.cost) +
                                        " kr</td>" +
                                        "</tr>" +
                                        "");
                                }
                                if (this.category.name == "Läsk") {
                                    $("#lask-table")
                                        .append("<tr> " +
                                        "<td>" +
                                        this.name +
                                        "</td>" +
                                        "<td>" +
                                        (-1 * this.cost) +
                                        " kr</td>" +
                                        "</tr>" +
                                        "");
                                }
                            });
                    });
            });

</script>